.movies {
  margin: 70px 70px 30px;
  display: grid;
  grid-auto-rows: 271px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 24px;
  row-gap: 30px;
  box-sizing: border-box;
}