.techs {
  margin: 0 70px 0;
  padding: 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.techs-back {
  background: #F5F5F5; 
}

.techs__name {
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  border-bottom: 1px solid #000000;
  text-align: left;
}

.techs__title {
  margin: 90px auto 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__info {
  width: 100%;
  margin: 100px auto 0;
  display: grid;
  grid-auto-rows: 60px;
  grid-template-columns: repeat(auto-fit, 90px);
  column-gap: 10px;
  row-gap: 10px;
  box-sizing: border-box;
  justify-content: center;
}

.techs__item {
  margin: 0;
  width: 90px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-out;
}

.techs__item:hover {
  transform: scale(1.1);
  background-color: #2BE080;
}

@media screen and (max-width: 880px) {
  .techs {
    margin: 0 50px 0;
    padding: 90px 0 90px;
  }
  .techs__title{
    margin: 80px auto 22px;
  }
  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__info {
    margin: 83px 60px 0;
    grid-auto-rows: 57px;
    grid-template-columns: repeat(auto-fit, 84px);
  }
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 580px) {
  .techs {
    margin: 0 18px 0;
    padding: 70px 0 70px;
  }
  .techs__name {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
  .techs__title{
    margin: 60px auto 24px;
    font-size: 30px;
    line-height: 36px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__info {
    margin: 50px 71px 0;
  }
}