.header {
  padding: 18px 70px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.header__left {
  display: flex;
  flex-direction: row;
  column-gap: 44px;
  align-items: center;
  text-align: center;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__nav {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.header__right {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  text-align: center;
}

.header__link {
  text-decoration: none;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.header__link:hover {
  opacity: 0.7;
}

.header__navlink {
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.header__navlink:hover {
  opacity: 0.7;
}

.header__navlink-500 {
  font-weight: 500;
}

.header__link-entry {
  background: #2BE080;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__link-account {
  font-size: 14px; 
  background: #F9F9F9;
  border-radius: 20px;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  padding: 159px 0 90px;
  position: absolute;
  background: #FFFFFF;
  width: 520px;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  box-sizing: border-box;
  overflow-y: hidden;
  display: none;
}

.overflow-hidden {
  height: 100vh;
  overflow-y: hidden;
}

.header__back {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.3;
  overflow-y: hidden;
  display: none;
}

.header__burger-opened {
  display: flex;
  overflow-y: hidden;
}

.header__burger {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  background-image: url(../../images/burger.svg) ;
  background-image: no-repeat;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: none;
}

.header__burger-close {
  width: 30px;
  height: 30px;
  background-image: url(../../images/close.svg);
}

.header__burgerlink {
  padding: 0 4px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.header__burgerlink-acc {
  font-size: 14px;
  line-height: 16px;
  margin-top: auto;
  background: #F9F9F9;
  border-radius: 20px;
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__burgerlink-here {
  border-bottom: 2px solid #000000;
}

.header__hidden {
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 18px 30px 18px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__link-account {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 18px 14px 18px;
  }
  .header__right {
    column-gap: 14px;
  }
  .header__link {
    font-size: 10px;
    line-height: 16px;
  }
  .header__link-entry {
    width: 54px;
    height: 26px;
  }
  .header__container {
    width: 100vw;
  }
}