body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

code {
  font-family: 'Inter', Arial, sans-serif;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
